<div class="container" *ngIf="state.state">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="margin-top: 10%;">
      <h1 class="h3">Reset Password</h1>
      <hr>
      <form [formGroup]="formRegister" (ngSubmit)="approve(txtPassword.value, txtPasswordConfirm.value)"
        class="mx-1 mx-md-4">
        <div class="col-sm-10 mb-4">
          <input formControlName="Password" [ngClass]="{'is-invalid': submitted && component.Password.errors}"
            type="password" id="Password" class="form-control" placeholder="Password" #txtPassword />
          <ul *ngIf="submitted">
            <li *ngIf="component.Password.errors?.required"><small class="form-text">Password required!</small></li>
          </ul>
        </div>
        <div class="col-sm-10 mb-4">
          <input formControlName="PasswordConfirm"
            [ngClass]="{'is-invalid': submitted && component.PasswordConfirm.errors}" type="password"
            id="PasswordConfirm" class="form-control" placeholder="Password Confirm" #txtPasswordConfirm />
        </div>
        <div class="col-sm-10 mb-4">
          <button type="submit" class="btn btn-primary">Approve</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row" *ngIf="!state.state" style="margin-top: 3%;">
  <div class="col-12">
    <div class="alert alert-warning">Token expired!</div>
  </div>
</div>
