
  <section class="vh-100" style="margin-top: 3%;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                  <form [formGroup]="formRegister" (ngSubmit)="onSubmit(formRegister.value)" class="mx-1 mx-md-4">

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="Name">Your Name & Surname*</label>
                        <input formControlName="Name" [ngClass]="{'is-invalid': submitted && component.Name.errors}" type="text" id="Name" class="form-control" />
                        <ul *ngIf="submitted">
                          <li *ngIf="component.Name.errors?.required"><small class="form-text">Name required!</small></li>
                          <li *ngIf="(component.Name.errors?.maxlength || component.Name.errors?.minlength)"><small class="form-text">Name must be between 3-50 char!</small></li>
                        </ul>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="Username">Your Username *</label>
                        <input formControlName="Username" [ngClass]="{'is-invalid': submitted && component.Username.errors}" type="text" id="Username" class="form-control" />
                        <ul *ngIf="submitted">
                          <li *ngIf="component.Username.errors?.required"><small class="form-text">Username required!</small></li>
                          <li *ngIf="(component.Username.errors?.maxlength || component.Username.errors?.minlength)"><small class="form-text">Username must be between 5-15 char!</small></li>
                        </ul>

                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="Email">Your Email *</label>
                        <input formControlName="Email" [ngClass]="{'is-invalid': submitted && component.Email.errors}" type="email" id="Email" class="form-control" />
                        <ul *ngIf="submitted">
                          <li *ngIf="component.Email.errors?.required"><small  class="form-text">Email required!</small></li>
                          <li *ngIf="component.Email.errors?.email"><small class="form-text">Must be email format!</small></li>
                          <li *ngIf="component.Email.errors?.maxlength"><small  class="form-text">Email must be shoter than 50 char!</small></li>
                        </ul>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="Password">Password *</label>
                        <input formControlName="Password" [ngClass]="{'is-invalid': submitted && component.Password.errors}" type="password" id="Password" class="form-control" />
                        <ul *ngIf="submitted">
                          <li *ngIf="component.Password.errors?.required"><small  class="form-text">Password required!</small></li>
                        </ul>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="PasswordConfirm">Repeat your password *</label>
                        <input formControlName="PasswordConfirm" [ngClass]="{'is-invalid': submitted && component.PasswordConfirm.errors}" type="password" id="PasswordConfirm" class="form-control" />
                      </div>
                    </div>

                    <div class="form-check d-flex justify-content-center mb-5">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                      <label class="form-check-label" for="form2Example3">
                        I agree all statements in <a href="#!">Terms of service</a>
                      </label>
                    </div>

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg">Register</button>
                    </div>
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <p class="small fw-bold mt-2 pt-1 mb-0">Do you have an account? <a href="/login"
                        class="link-danger clicked">Login</a></p>
                    </div>


                  </form>

                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


