<div class="row">
  <h1>Forgot Password</h1>
  <h6 class="information-text">Enter your registered email to reset your password.</h6>
  <div class="form-group">
    <input type="email" class="form-control" #txtEmail name="user_email" id="user_email" placeholder="mail@example.com">
    <p><label class="form-label" for="username">Email</label></p>
    <button (click)="send(txtEmail.value)" style="color: rgb(59,113,202);">Reset Password</button>
  </div>
  <div class="footer">
    <h5>New here? <a href="/register" style="color: rgb(59,113,202);"><strong>Sing Up.</strong></a></h5>
  </div>
</div>
