<div *ngIf="isAuth" class="container" style="margin-top: 1%;">


  <h1 class="h3">Cart</h1>
  <hr>

  <div class="row" *ngIf="!basketItems.length">
    <div class="col-12">
      <div class="alert alert-warning">Cart is empty.</div>
    </div>
  </div>

  <div class="row" *ngIf="basketItems.length">
    <div class="col-md-8">
      <div class="text-left">
        <h4>Products</h4>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          <tr class="basketRow_{{item.basketItemId}}" *ngFor="let item of basketItems; let i = index">
            <td>
              <a href="/products/details">
                <img *ngIf="item.path != null"
                  src="{{baseUrl.url}}/{{item.path}}"
                  width="80" alt="">
                <img *ngIf="item.path == null"
                  src="https://angularsale.blob.core.windows.net/photo-images/f94689ec-a4f1-47a3-8c4e-b816372cec90.jpg"
                  width="80" alt="">
              </a>
            </td>
            <td><a href="/products/details" class="link-dark">{{item.name}}</a></td>
            <td>{{item.price}}</td>
            <td>
              <div style="width: 80px;">
                <input data-id={{item.basketItemId}} (change)="changeQuantity($event)" value={{item.quantity}}
                  type="number" class="form-control" />
              </div>
            </td>
            <td>{{item.quantity*item.price}}</td>
            <td>
              <form>

                <!-- <i class="fa fa-times fa-fw"></i> -->
                <i (click)="removeBasketItem(item.basketItemId)" class="fa-solid fa-trash fa-lg"
                  style="color: #dc0e6e;cursor: pointer;"></i>

              </form>
            </td>
          </tr>

        </tbody>
      </table>
      <br><br><br><br>
      <div class="row">
        <h1>Address</h1>
        <hr>
        <div class="col-md-12">
          <div class="row mb-3">
            <div class="col-md-6">
              <label asp-for="@Model.FirstName">FirstName</label>
              <input asp-for="@Model.FirstName" class="form-control">
            </div>
            <div class="col-md-6">
              <label asp-for="@Model.LastName">LastName</label>
              <input asp-for="@Model.LastName" class="form-control">
            </div>
          </div>
          <div class="mb-3">
            <label asp-for="@Model.Address">Address</label>
            <textarea asp-for="@Model.Address" class="form-control"></textarea>
          </div>
          <div class="row mb-3">
            <div class="col-md-4">
              <label asp-for="@Model.City">City</label>
              <input asp-for="@Model.City" class="form-control">
            </div>
            <div class="col-md-4">
              <label asp-for="@Model.Phone">Phone</label>
              <input asp-for="@Model.Phone" class="form-control">
            </div>
            <div class="col-md-4">
              <label asp-for="@Model.Email">Email</label>
              <input asp-for="@Model.Email" class="form-control">
            </div>
          </div>
          <h1 class="mb-3">Payment</h1>
          <hr class="mb-3">
          <div class="row mb-3">
            <div class="col-md-6">
              <label asp-for="@Model.CardName">CardName</label>
              <input asp-for="@Model.CardName" class="form-control">
            </div>
            <div class="col-md-6">
              <label asp-for="@Model.CardNumber">CardNumber</label>
              <input asp-for="@Model.CardNumber" class="form-control">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4">
              <label asp-for="@Model.ExpirationMonth">ExpirationMonth</label>
              <input asp-for="@Model.ExpirationMonth" class="form-control">
            </div>
            <div class="col-md-4">
              <label asp-for="@Model.ExpirationYear">ExpirationYear</label>
              <input asp-for="@Model.ExpirationYear" class="form-control">
            </div>
            <div class="col-md-4">
              <label>Cvc</label>
              <input class="form-control">
            </div>
          </div>


        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="text-left">
        <h4>Summary</h4>
      </div>
      <table class="table" id="tableTotal">
        <tbody>
          <tr>
            <th>Cart Total</th>
            <td>{{totalPrice}}</td>
          </tr>
          <tr>
            <th>Cargo</th>
            <th>Free</th>
          </tr>
          <tr>
            <th>Discount</th>
            <th>${{totalDiscount}} (%{{totalDiscount}})</th>
          </tr>
          <tr>
            <th>Order Total</th>
            <th>${{orderTotal}}</th>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <a href="/products" class="btn btn-primary">
          <i class="fa fa-arrow-circle-left fa-fw"></i> Back to shopping
        </a>
        <a (click)="Payment()" class="btn btn-primary" style="margin-left: 5px;">
          <i class="fa fa-arrow-circle-right fa-fw"></i> Continue
        </a>
      </div>
    </div>
  </div>
  <br><br><br><br>
  <br><br><br><br>
</div>

<div *ngIf="!isAuth" class="container">
  <h1 style="margin-left: 40%;margin-top: 20%;">Please <a href="/login">Login</a></h1>
</div>
